# Ignore build outputs
target/
build/

# Ignore Maven Wrapper files except for the jar
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Ignore IDE specific files
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
nbbuild/
nbdist/
.nb-gradle/

### VS Code ###
.vscode/

# Ignore logs and other temporary files
*.log
*.class
